
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: green;
  text-align: center;
  padding: 50px 20px;
}

.header {
  display: flex;
  justify-content: center;
}

h2 {
  color : yellow ;
}

span {
  background : red ;
  -moz-box-shadow:    3px 3px 5px 6px #0fdba4;
  -webkit-box-shadow: 3px 3px 5px 6px #0fdba4;
  box-shadow:         3px 3px 5px 6px #0fdba4;
}

button {
  color : black;
  padding: 10px 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.cr7 {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

